
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
 <img class="float_left " [src]= myimage1>
    <mat-card class="box">
     
     
      <form class="example-form">
      
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput mat-stroked-button placeholder="UserName">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput mat-stroked-button placeholder="Password">
          </mat-form-field>
        </mat-card-content>
      

        <button mat-stroked-button color="#ffffff" class="btn-block">Log in</button>
    
      </form>
      <a  mat-button  routerLink="/register">Register User</a>
      <a  mat-button  routerLink="/login">Change Password</a>
    
    </mat-card>
 
  </div>